{extend name="public/base" /}

{block name="content"}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
		              	<h3 class="box-title">人员列表</h3>
		              	{if condition="$role_id == 1 or $role_id == 5"}
		              	<font class="box-title"><a class="open" href="javascript:;">全部展开</a></font>
		              	<font class="box-title"><a class="fold" href="javascript:;">全部折叠</a></font>
		              	{/if}
						<div class="pull-right">
							{if condition="$role_id < 3"}<a href="{:url('sell/add')}" class="btn btn-success btn-sm"><i class="fa fa-plus"></i>&nbsp;添加销售</a>{/if}
						</div>
		            </div>
		            <div class="pull-left">
							<label style="margin-left: 10px;font-size: 18px" class="labels">日期搜索:</label>
	                        <input type="text" class="add_time" placeholder="开始时间(选填)" id="date">
	                        <input type="text" class="end_time" placeholder="结束时间(选填)" id="date1">
	                        <button class="layui-btn" style="height: 27px;padding: 0 10px;line-height: 16px;">搜索</button>
	                    </div>
		            <div id="data_list_info">
						
		            </div>
				</div>
			</div>
		</div>
	</div>
{/block}

{block name="js"}
<script type="text/javascript">
	$(function(){
		getData();
	});
	$(".layui-btn").click(function(){
        getData();
    })
	function getData(){
		var add_time = $(".add_time").val();
    	var end_time = $(".end_time").val();
		result = {
			add_time:add_time,
			end_time:end_time
		}
		$.post("{:url('sell/get_sell_list')}",result,function(res){
			if(res.code == 1){
				$("#data_list_info").html('').html(res.data);
			}
		},'json');
	}
</script>
<script>
layui.use(['form', 'layedit', 'laydate','upload','table'], function(){
    var form = layui.form
    ,layer = layui.layer
    ,layedit = layui.layedit
    ,laydate = layui.laydate
    ,upload = layui.upload;

    var table = layui.table; 
    //日期
    laydate.render({
        elem: '#date'
        ,type: 'datetime'
    });
    laydate.render({
        elem: '#date1'
        ,type: 'datetime'
    }); 
    laydate.render({
        elem: '#cate_id'
    });
})
</script>
{/block}